:root {
    --background: steelblue;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: linear-gradient(#999999, #b2beb5);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6;
}

.content {
    height: 200vh;
    background-color: aquamarine;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/*nav styles start here */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: 100%;
    height: 100px;
    line-height: 1;
}

.logo {
    font-size: 30px;
    margin: 10px;
}
.first-letter {
    font-size: 1.5em;
    font-weight: normal;
}
.logo-line {
    font-size: 1.5em;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: inline-flex;
    background: white;
    height: 0.2em;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top:7px;
}

nav {
    position:absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    display: inline;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1)
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/*this media query sets up the movement of the nav bar, both opening and closing 
and also the fade in fade out of the text
and also converting it to a grid layout in wide view*/

@media screen and (min-width: 1000px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
    .logo {
        margin-top: 30px;
        grid-column: 2 / 3;
    }
    nav {
        all: unset;
        margin-top: 40px;
        grid-column: 3 / 4;
    }
    nav a {
        opacity: 1;
    }
}

/*Nav ends here*/
* {
    box-sizing: border-box;
}
/*styling for whole page*/
.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

h1, h2, h3 {
    line-height: 1.4;
    padding: 20px;
}
p {
    display: block;
    padding:5px 20px;
}

.container {
    margin-inline: auto;
    width: min(90%, 80rem);
    flex: 50%;
}
@media screen and (max-width: 992px) {
    .container {
      flex: 50%;
    }  
}

@media screen and (max-width: 600px) {
    .main {
      flex-direction: column;
    }
}


/* about me section */

.aboutme {
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 70px;
    
}

.aboutMeImg {
    width: 300px;
    height: 350px;
    display: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 50%;
}

/* Skills section */

.skills-heading {
    text-align: center;
    margin-top: 50px;
}

.tech-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    
}

.tech-stack .tech-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.tech-box {
    margin-top: 20px;
}

.tech-stack  .tech-imgs{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem, 4rem;

}

.skills-img {
    width: 150px;
    height: 150px;
    padding: 2rem;
}

@media screen and (min-width: 800px) {
    .tech-stack {
        display: flex;
        width: 100%;
        margin: auto;
        flex:2;
    }

    .aboutme {
        margin: auto;
        flex:2;  
    }
    .skills-imgs {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem, 1rem;
    }

}

/*projects section*/

.slider {
    overflow: hidden;
    width: 70%;
    height:fit-content;
    margin-right: auto;
    margin-left: auto;
}
.slider figure {
    position: relative;
    width: 600%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}

.slider figure img {
    width: 16.66%;
    float: left;
}
.slider figure div {
    width: 16.66%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    17% {
        left: 0;
    }
    22% {
        left: -100%;
    }
    38% {
        left: -100%;
    }
    41% {
        left: -200%;
    }
    58% {
        left: -200%;
    }
    61% {
        left: -300%;
    }
    78% {
        left: -300%;
    }
    82% {
        left:-400%;
    }
    97% {
        left: -400%
    }
    100% {
        left: -500%;
    }
  
}
.img-description {
    text-align: center;
}

.img-description a {
    text-decoration: none;
    color: black;
}

/*form section*/


.contact {
    text-align: center;
    color: black;
    border-color: 1px black;
    border-style: solid;
    background-color: var(--background);
    padding: 30px;
    margin-top: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.input {
    margin-bottom: 35px;
    padding: 10px;
}
.submit-btn {
    margin-bottom: 40px;
}

/*contact thank you page*/